@charset "utf-8";
/*tags*/
body{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #FFFFFF;
	background: #000000;
}
/*ids*/
.header{
	text-align: center;
}
.banner {
	width: 100vw;
	height: 300px;
}
